#expansion-component .main-img {
    width: 100%;
    max-width: 425px;
}

#expansion-component .particles {
    position: absolute;
    width: 100%;
    height: 99%;
    z-index: -1;

    width: 50%;
    left: 50%;
    transform: translate(-50%);
}

#expansion-component .bg1 {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: 100vh;

}

#expansion-component .bg2 {
    /* background-image: url(../../assets/img/dark-bg.jpeg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
}

#expansion-component .txt.categories {
    display: flex;
    max-width: 800px;
    justify-content: space-evenly;
    margin: 0 auto;
    filter: drop-shadow(2px 4px 6px black);
}

#expansion-component .category-btn {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#fff 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
    cursor: pointer;

    opacity: 0.8;
}

#expansion-component .category-btn:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;

    opacity: 1;
}

#expansion-component .category-btn h2 {
    margin: 0px;
}

.story {
    max-width: 90%;
    display: flex;
    height: 100%;
    align-items: center;
    vertical-align: middle;
    justify-content: space-evenly;


    height: 430px;
    border-radius: 50px;
    width: 90%;
    padding: 25px;
    background: url(../../assets/img/dark-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.story-article {
    max-width: 550px;
}

.story-article p {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 20px;
    padding-bottom: 10px;
}

.story-article p::-webkit-scrollbar {
    width: 3px;
}

.story-article p::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.story-article p::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.story-img {
    width: 300px;
}

.carrousel-btn {
    fill: #fff;
    cursor: pointer;
}

.carrousel-btn-2 {
    rotate: 180deg;
}

.storyComponent {
    width: 100%;
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(2px 4px 6px black);
}

.carrousel-btn-mob {
    display: none;
}


/* CUSTOM - EXPANSION */
#expansion-component.exp-realmreborn .bg1 {
    /* background: rgb(3, 2, 100); */
    /* background: linear-gradient(45deg, rgba(0, 46, 130, .425) 0%, rgba(0, 133, 173, 0.725) 50%, rgba(0, 46, 130, .425) 100%); */
}

#expansion-component.exp-realmreborn.bg0 {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 133, 173, 1) 50%, rgb(0, 0, 0) 100%);
}

/* CUSTOM - EXPANSION */


@media only screen and (max-width: 600px) {

    .story {
        flex-direction: column;
    }

    .storyComponent {
        flex-direction: column;
        margin: auto;
    }

    .story-img {
        display: none;
    }

    .carrousel-btn-mob {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 25px;
    }


}