#homeCover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

#homeCover .bg-cover {
    background-image: url(../../assets/img/sky.jpeg);

    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

#homeCover .main-img {
    width: 100%;
    max-width: 650px;
}

#home .homeVideo video {
    width: 100%;
    height: 100%;
}

#home .bg1 {
    background-image: url(../../assets/img/light-bg.jpg);
    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    margin-top: -5px;
}

#home .bg2 {
    background-image: url(../../assets/img/dark-bg.jpeg);
    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    margin-top: -5px;
}


#home .txt h1 {
    filter: drop-shadow(2px 4px 6px black);
}

#home .character {
    max-width: 500px;
}

#home .character2 {
    max-width: 400px;
}


/* arrow start */

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    scale: 1.2;
    width: fit-content;
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
    cursor: pointer;
}

.arrow svg {
    rotate: -90deg;
    filter: blur(0.8px) invert(1);
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {

        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* arrow end */



/* cards start */

.exp-card {
    max-width: 450px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
    scale: 1;
    border-radius: 12px;
}

.exp-card-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-size: 105%;
    background-position: center -7px;
    border-radius: 12px;
}

.exp-card:hover .exp-card-img,
.exp-card:focus .exp-card-img {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.exp-card:hover .exp-card-img:before,
.exp-card:focus .exp-card-img:before {
    display: block;
}

.exp-card:hover a,
.exp-card:focus a {
    display: block;
}

.exp-card-img:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.exp-card-img1 {
    background-image: url(../../assets/img/realmreborn.png);
}

.exp-card-img2 {
    background-image: url(../../assets/img/heavensward.png);
}

.exp-card-img3 {
    background-image: url(../../assets/img/stormblood.png);
}

.exp-card-img4 {
    background-image: url(../../assets/img/shadowbringers.png);
}

.exp-card-img5 {
    background-image: url(../../assets/img/endwalker.png);
}

.card-space {
    justify-content: space-around;
    max-width: 950px;
}

/* cards end */


.video-container {
    width: 100vw;
    height: 100vh;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -1;
}


.fade-overlay {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 50px;
    /* Ajusta la altura del fade según tus necesidades */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
    /* Gradiente de color fade */
}

.fade-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    /* Ajusta la altura del fade según tus necesidades */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    /* Gradiente de color fade */
}


@media only screen and (max-width: 600px) {
    .exp-card {
        height: 80px;
        width: 70%;
        margin-top: 20px;
    }
}