nav {
    width: 100%;
}
.nav-logo {
    width: 175px;
}
.nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
}
.sound-icon {
    width: 25px;
    cursor: pointer;
}