nav {
    width: 100%;
    position: fixed;
}
.nav-logo {
    width: 175px;
    filter: drop-shadow(2px 4px 6px black);
}
.nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
}
.sound-icon {
    width: 25px;
    cursor: pointer;
}